extends ../layout/index

block content
	main.container.mt-5
		.row
			.col-md-5
				img(src="/img/about.jpg", alt="About Image", class="img-fluid")
			.col-md-7
				h1 #{pageTitle}
				blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui beatae quaerat repudiandae unde laboriosam vero temporibus fugiat eligendi, reprehenderit ut doloremque ipsa repellendus autem. Sit pariatur aliquam aut perferendis aspernatur facere, dignissimos ea dolorum reiciendis, perspiciatis iusto quisquam nihil tempora consectetur. Laboriosam quisquam libero itaque saepe provident, quos doloremque eligendi!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus consequuntur et velit assumenda voluptatem impedit iste veritatis rerum voluptas ad tenetur quae vitae, perspiciatis laborum, aperiam ducimus harum ipsam unde vero quasi totam non accusantium tempore aliquam. At molestiae molestias dolorum quo, dolor, voluptas corrupti cum dolores nam nemo optio!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quis at vel dolores, sequi omnis quos assumenda quia iste ad?
	.icons-list
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img(src="/img/icon_trust.svg", class="img-fluid mb-4")
					h2.mb-4 Trust & Safety
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, earum.
				.col-md-4
					img(src="/img/icon_destiny.svg", class="img-fluid mb-4")
					h2.mb-4 Best Destination
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, earum.
				.col-md-4
					img(src="/img/icon_price.svg", class="img-fluid mb-4")
					h2.mb-4 Best Price
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, earum.