extends ../layout/index

block content
	main.container.mt-5
		.row
			.col-md-5
				img(src="/img/about.jpg", alt="About Image", class="img-fluid")
			.col-md-7
				h1 #{pageTitle}
				blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui beatae quaerat repudiandae unde laboriosam vero temporibus fugiat eligendi, reprehenderit ut doloremque ipsa repellendus autem. Sit pariatur aliquam aut perferendis aspernatur facere, dignissimos ea dolorum reiciendis, perspiciatis iusto quisquam nihil tempora consectetur. Laboriosam quisquam libero itaque saepe provident, quos doloremque eligendi!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus consequuntur et velit assumenda voluptatem impedit iste veritatis rerum voluptas ad tenetur quae vitae, perspiciatis laborum, aperiam ducimus harum ipsam unde vero quasi totam non accusantium tempore aliquam. At molestiae molestias dolorum quo, dolor, voluptas corrupti cum dolores nam nemo optio!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam odio quisquam iste adipisci aliquam repudiandae id atque. Minima nulla veniam quisquam dolorum. Pariatur, id. Cum, dolores, rerum repellendus, officia odit eligendi eum recusandae provident neque earum delectus reiciendis ipsam suscipit temporibus omnis aperiam consectetur qui fugit deserunt, quaerat quae magnam.